@import 'variables';

#content .tasks .btn {
  width: 100%;
}

#qnsContainer .infoText {
  margin: 1rem 0rem;
  color: red;
  font-weight: bold;
}

#qnsContainer .card {
  margin: 1rem auto;
  max-width: 600px;
}

#qnsContainer .card .list-group {
  text-align: left;
}

#qnsContainer .correctAnswer {
  background-color: lightgreen;
  font-weight: bold;
}

#qnsContainer .wrongAnswer {
  background-color: lightcoral;
}


#qnsContainer .category-card {
  background-color: $primaryBackground;
}