<footer id="footer" class="font-small">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Danke für die Nutzung dieses Fragenkataloges.</p>
        <p>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col" id="buyMeABeer">
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
          data-name="bmc-button" data-slug="whati001" data-color="#5F7FFF" data-emoji="🍺" data-font="Cookie"
          data-text="Buy me a beer" data-outline-color="#000" data-font-color="#fff" data-coffee-color="#fd0"></script>
      </div>
    </div>
  </div>
</footer>