<div id="content">
  <div class="container tasks">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Training starten</h5>
            <p class="card-text">Single Choice mit allen Fragen.</p>
            <a href="quiz.html?action=train" class="btn btn-success">Training starten</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Prüfung starten</h5>
            <p class="card-text">Single Choice mit 40 Fragen.</p>
            <a href="quiz.html?action=exam" class="btn btn-danger">Prüfung starten</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Fragen einsehen</h5>
            <p class="card-text">Auflistung aller Fragen inklusive Lösung</p>
            <a href="quiz.html?action=show" class="btn btn-info">Fragen anzeigen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>