<header id="header">
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-4">Steiermärkische Fischerprüfung</h1>
      <p class="lead">Willkommen im Homebrew Onlinefragenkatalog für die Steiermärkische Fischerprüfung.</p>
      <hr class="my-4">
      <p>Die folgenden Fragen basieren auf der 8.Auflage des Landesfischerverbands Steiermark.</br>Es besteht keine Garantie die
        Prüfung, durch die Nutzung dieser Webseite positiv zu absolvieren!</p>
    </div>
  </div>
</header>