<header id="header">
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-4">Steiermaerkische Fischerpruefungs</h1>
      <p class="lead">Wilkommen im Homebrew Onlinefragenkatalog fuer die Stmk Fischerpruefungs.</p>
      <hr class="my-4">
      <p>Diese Fragen basieren auf der 8.Auflage des Landesfischerverband Steiermark.</br>Es besteht keine Garantie die
        Pruefung positiv zu absolvieren, bei Nutzung dieser Webseite.</p>
    </div>
  </div>
</header>